
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
  font-size: 32px;
  margin: 0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: .9em;
  letter-spacing: -.03em;
  color: rgb(255,255,255);
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: .9em;
  letter-spacing: .06em;
  color: rgb(255,255,255);
}
h3 {
  font-family: 'Roboto Slab', serif;
  color: rgba(86, 124, 155, 1);
}
a {
  color: inherit;
  text-decoration: none;
}
.navBar {
  position: fixed;
  width:100%;
  background-color: rgba(172, 190, 170,1);
  height: 100px;
  padding: 22px 20px 20px 50px;
  margin-bottom: 1em;
  z-index: 1000;
}
#webSiteName {
  color: rgba(86, 124, 155,0.5);
}
#head {
  color: rgba(114,31,33,.4);
}
.container2 {
  background-color: rgba(36, 74, 91,1);
  width:100%;
  text-align: center;
  padding-top: 100px;
}
.pictureContainer2{
  position: relative;
  background-image: url("../img/monkLargeOpacity.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(36, 74, 91,1);
  width: 100%;
}
.animalHead {
  font-family: 'Roboto Slab', serif;
  color: rgba(86, 124, 155, 1);
}


.container {
  background-color: rgb(225, 231, 241);
  width:100%;
  text-align: center;
  padding-top: 100px;
}
.pictureContainer{
  position: relative;
  background-color: rgb(225, 231, 241);
  background-image: url("../img/worldMapCanvas.png");
  display: inline-block;
  width: 1800px;
  height: 900px;
}
.circle {
  border-radius: 50%;
  border: 5px solid rgba(172, 190, 170,.5);
  width: 70px;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}
.rollover:hover > .circle {
  width: 200px;
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
    transform:scale(1.3);
}
.shoutout {
  background-color: rgba( 245, 246, 250,1);
  position: absolute;
  top:200px;
  left:0;
  color: black;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
  margin-top: .25em;
  border-radius: 3px;
  padding: 10px;
}
.name{
  color: rgba(153, 102, 0,1);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}
.range{
  color: rgba(51, 102, 51,1);
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.more {
  color: rgba(184,34,42,1);
  font-size: 10px;
  font-weight: 500;
  text-align: right;
  text-decoration: underline;
}
.more:hover {
  color: black;
  font-weight: bold;
}
#wolf {
  position: absolute;
  left: 420px;
  bottom: 600px;
}
#wolf:hover > #wolf-shoutout {
  display:block;
}
#wolf-shoutout {
  display: none;
}
#monk {
  position: absolute;
  top: 200px;
  left: 50px;
}
#monk:hover > #monk-shoutout{
  display:block;
}
#monk-shoutout {
  display: none;
}
#bear {
  position: absolute;
  top: 40px;
  left: 1100px;
}
#bear:hover > #bear-shoutout{
  display:block;
}
#bear-shoutout {
  display: none;
}
#gazelle {
  position: absolute;
  top: 200px;
  left: 1000px;
}
#gazelle:hover > #gazelle-shoutout{
  display:block;
}
#gazelle-shoutout {
  display: none;
}
#kangaroo {
  position: absolute;
  top: 600px;
  left: 1400px;
}
#kangaroo:hover > #kangaroo-shoutout{
  display:block;
}
#kangaroo-shoutout {
  display: none;
}
#monkey {
  position: absolute;
  top: 300px;
  right: 1400px;
}
#monkey:hover > #monkey-shoutout{
  display:block;
}
#monkey-shoutout {
  display: none;
}
#otter {
  position: absolute;
  top: 450px;
  left: 500px;
}
#otter:hover > #otter-shoutout{
  display:block;
}
#otter-shoutout {
  display: none;
}
#rhino {
  position: absolute;
  top: 280px;
  left: 800px;
}
#rhino:hover > #rhino-shoutout{
  display:block;
}
#rhino-shoutout {
  display: none;
}

#tiger {
  position: absolute;
  top: 200px;
  left: 1350px;
}
#tiger:hover > #tiger-shoutout{
  display:block;
}
#tiger-shoutout {
  display: none;
}
#whale {
  position: absolute;
  top: 430px;
  left: 1650px;
}
#whale:hover > #whale-shoutout{
  display:block;
}
#whale-shoutout {
  display: none;
}
